@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

#section1 .container-fluid,
#section2 .container-fluid,
#section3 .container-fluid,
#section4 .container-fluid,
#section5 .container-fluid,
#section6 .container-fluid,
#section7 .container-fluid,
#section8 .container-fluid,
#section9 .container-fluid,
#section11 .container-fluid {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

img {
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}

#section10 .container-fluid {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/*:lang(en) {
    letter-spacing: 0;
}
:lang(ko) {
    letter-spacing: -0.08em;
}*/

.content_wrap2 {
    max-width: 100% !important;
    padding-top: 0;
    padding-bottom: 0;
}

.sub_content {
    padding: 0 !important;
}

.content {
    padding: 0 !important;
}

.cls_meditor_bg_A {
    background: #fff !important;
}

.n3iz3h.pp {
    display: none;
}

.n3iz3h.sub-content-head .page-tit {
    display: none;
}

.n3iz3h.sub-content-head {
    display: none;
}

/*
.bg_img {
    overflow: initial !important;
}*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans KR', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

body {
    font-size: 1rem;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.02em;
    -ms-overflow-style: none;
    color: #231815;
    min-width: 1200px;
    overflow-x: auto;    
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


a:hover {
    text-decoration: none;
}

a {
    color: #231815;
}

a:hover {
    color: #231815;
}

.fw_100 {
    font-weight: 100 !important;
}

.fw_300 {
    font-weight: 300 !important;
}

.fw_400 {
    font-weight: 400 !important;
}

.fw_500 {
    font-weight: 500 !important;
}

.fw_700 {
    font-weight: 700 !important;
}

.fw_900 {
    font-weight: 900 !important;
}

.mw_357 {
    max-width: 357px;
    margin: 0 auto;
}

.mw_460 {
    max-width: 460px;
    margin: 0 auto;
}

.mw_560 {
    max-width: 560px;
    margin: 0 auto;
}

.mw_564 {
    max-width: 594px;
    margin: 0 auto;
}
.mw_610 {
    max-width: 642px;
    margin: 0 auto;
}
.mw_700 {
    max-width: 730px;
    margin: 0 auto;
}
.mw_800 {
    max-width: 800px;
    margin: 0 auto;
}

.mw_870 {
    max-width: 870px;
    margin: 0 auto;
}

.mw_960 {
    max-width: 960px;
    margin: 0 auto;
}

.mw_1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.mw_1010 {
    max-width: 1010px;
    margin: 0 auto;
}

.mw_1030 {
    max-width: 1030px;
    margin: 0 auto;
}

.mw_1152 {
    max-width: 1182px;
    margin: 0 auto;
}

.mw_1200 {
    max-width: 1200px;
    margin: 0 auto;
}

/****************font size******************/
.fs_40 {
    font-size: 40px;
}

.fs_36 {
    font-size: 36px;
}

.fs_32 {
    font-size: 32px;
}

.fs_28 {
    font-size: 28px;
}

.fs_24 {
    font-size: 24px;
}

.fs_22 {
    font-size: 22px;
}

.fs_20 {
    font-size: 20px;
}

.fs_18 {
    font-size: 18px;
}

.fs_16 {
    font-size: 16px;
}

.fs_14 {
    font-size: 14px;
}

.fs_12 {
    font-size: 12px;
}

.fs_10 {
    font-size: 10px;
}


button:focus {
    outline: 0;
}

.color_fff {
    color: #fff;
}

.bg_fff {
    background-color: #fff;
}

.bg_f6 {
    background-color: #F6F6F6;
}

.color_888 {
    color: #888888;
}

.color_gray {
    color: #C0C0C0;
}

.color_subgray {
    color: #D1D0D0;
}

.sub_gray_text {
    color: #787878;
}

.sub_gray_text a {
    color: #787878;
}

.sub_black_10 {
    color: #DBDADA;
}

.sub_black_20 {
    color: #D1D0D0;
}

.sub_black_30 {
    color: #BEBCBB;
}
.color_c0 {
    color: #c0c0c0;
}
.color_d0 {
    color:#D1D0D0;
}
.bg_sub_black_10 {
    background-color: #DBDADA;
}

.bg_sub_black_20 {
    background-color: #D1D0D0;
}

.bg_sub_black_30 {
    background-color: #BEBCBB;
}

.bg_sub_gray_etc {
    background-color: #F7F7F7;
}
.sub_gray_etc {
    color: #F7F7F7;
}
.point_color {
    color: #6E9357;
}

.point_color a {
    color: #6E9357;
}
.point_color:hover {
    color: #6E9357;
}
.color_blue {
    color: #5BB0FF;
}

.color_sub_blue {
    color: #5BB0FF;
}

.color_black2 {
    color: #3D3D3D;
}

.color_red {
    color: #F08080;
}

.bg_point {
    background-color: #6E9357 !important;
}

.bg_blue {
    background-color: #8DB6FF !important;
}

.bg_gray {
    background-color: #F5F5F5;
}

.point_color_alpha {
    background-color: #EDF2EA;
}

/***************************************************************嶺뚮씭�녶퐲占� �좎뜦維��억옙 *******************************************************/

.p_2rem {
    padding: 2rem;
}

.pt_2rem {
    padding-top: 2rem;
}

.pb_2rem {
    padding-bottom: 2rem;
}

.pl_2rem {
    padding-left: 2rem;
}


.pr_2rem {
    padding-right: 2rem;
}

.pr_10px {
    padding-right: 10px;
}
.pr_12px {
    padding-right: 12px;
}

.pr_15px {
    padding-right: 15px;
}

.pr_30px {
    padding-right: 30px;
}

.pr_50px {
    padding-right: 50px;
}

.pl_10px {
    padding-left: 10px;
}

.pl_12px {
    padding-left: 12px;
}

.pl_15px {
    padding-left: 15px;
}

.pl_20px {
    padding-left: 20px;
}

.pl_30px {
    padding-left: 30px;
}

.pl_43px {
    padding-left: 43px;
}

.pl_50px {
    padding-left: 50px;
}

.pr_40px {
    padding-right: 40px;
}

.pr_120px {
    padding-right: 120px;
}

.pr_140px {
    padding-right: 140px;
}

.py_25px {
    padding-top: 25px;
    padding-bottom: 25px;
}

.px_2rem {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pt_10px {
    padding-top: 10px;
}

.pt_12px {
    padding-top: 12px;
}

.pt_14px {
    padding-top: 14px;
}
.pt_16px {
    padding-top: 16px;
}

.pt_20px {
    padding-top: 20px;
}
.pt_25px {
    padding-top: 25px;
}

.pt_30px {
    padding-top: 30px;
}

.pt_34px {
    padding-top: 34px;
}

.pt_36px {
    padding-top: 36px;
}

.pt_37px {
    padding-top: 37px;
}

.pt_40px {
    padding-top: 40px;
}

.pt_46px {
    padding-top: 46px;
}
.pt_50px {
    padding-top: 50px;
}

.pt_60px {
    padding-top: 60px;
}

.pt_70px {
    padding-top: 70px;
}

.pt_80px {
    padding-top: 80px;
}

.pt_90px {
    padding-top: 90px;
}

.pt_100px {
    padding-top: 100px;
}

.pt_110px {
    padding-top: 110px;
}

.pt_120px {
    padding-top: 120px;
}

.pt_150px {
    padding-top: 150px;
}
.pt_160px {
    padding-top: 160px;
}
.pt_200px {
    padding-top:200px;
}




.pb_20px {
    padding-bottom: 20px;
}

.pb_30px {
    padding-bottom: 30px;
}

.pb_40px {
    padding-bottom: 40px;
}

.pb_60px {
    padding-bottom: 60px;
}


.pb_80px {
    padding-bottom: 80px;
}

.pb_100px {
    padding-bottom: 100px;
}
.pb_140px {
    padding-bottom: 140px;
}

.pb_80rem {
    padding-bottom: 80rem;
}


.px_100 {
    padding-left: 100px;
    padding-right: 100px;
}

.pd_20px {
    padding: 20px;
}

.pd_20_5px {
    padding: 20px 5px 20px 20px;
}

.mt_8px {
    margin-top: 8px;
}

.mt_10px {
    margin-top: 10px;
}

.mt_12px {
    margin-top: 12px;
}

.mt_20px {
    margin-top: 20px;
}

.mt_24px {
    margin-top: 24px;
}
.mt_28px {
    margin-top: 28px;
}

.mt_30px {
    margin-top: 30px !important;
}

.mt_34px {
    margin-top: 34px;
}

.mt_40px {
    margin-top: 40px;
}

.mt_60px {
    margin-top: 60px;
}

.mt_80px {
    margin-top: 80px;
}

.mt_90px {
    margin-top: 90px;
}

.mb_12px {
    margin-bottom: 12px;
}
.mb_40px {
    margin-bottom: 40px;
}
.ml_10px {
    margin-left: 10px;
}

.mr_30px {
    margin-right: 30px;
}



.mt_2rem {
    margin-top: 2rem;
}

.mr_10px {
    margin-right: 10px;
}

.mr_37px {
    margin-right: 37px;
}

.mr_40px {
    margin-right: 40px;
}


.mt_2 {
    margin-top: -2rem;
}

.mt-5_1 {
    margin-top: 4rem !important;
}

.mt-5_2 {
    margin-top: 5rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mt-8 {
    margin-top: 8rem !important;
}

.mt-9 {
    margin-top: 9rem !important;
}

.mt-10 {
    margin-top: 10rem !important;
}

.mt-12 {
    margin-top: 12rem !important;
}

.mb-5_1 {
    margin-bottom: 4rem !important;
}

.mb-5_2 {
    margin-bottom: 5rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.mb-7 {
    margin-bottom: 7rem !important;
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.mb-9 {
    margin-bottom: 9rem !important;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

.mb-13 {
    margin-bottom: 13rem !important;
}

.mb-14 {
    margin-bottom: 14rem !important;
}

.mr-5_1 {
    margin-right: 4rem !important;
}

.mr-5_2 {
    margin-right: 5rem !important;
}

.mr-6 {
    margin-right: 6rem !important;
}

.mr-7 {
    margin-right: 7rem !important;
}

.mr-8 {
    margin-right: 8rem !important;
}

.mr-9 {
    margin-right: 9rem !important;
}

.mr-10 {
    margin-right: 10rem !important;
}

.ml_2rem {
    margin-left: 2rem !important;
}

.ml-5_1 {
    margin-left: 4rem !important;
}

.ml-5_2 {
    margin-left: 5rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.ml-7 {
    margin-left: 7rem !important;
}

.ml-8 {
    margin-left: 8rem !important;
}

.ml-9 {
    margin-left: 9rem !important;
}

.ml-10 {
    margin-left: 10rem !important;
}

.px-5_1 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.px-5_2 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.px-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.px-7 {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}

.px-8 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.px-9 {
    padding-left: 9rem !important;
    padding-right: 9rem !important;
}

.px-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.pt-5_1 {
    padding-top: 4rem !important;
}

.pt-5_2 {
    padding-top: 5rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pt-7 {
    padding-top: 7rem !important;
}

.pt-8 {
    padding-top: 8rem !important;
}

.pt-9 {
    padding-top: 9rem !important;
}

.pt-10 {
    padding-top: 10rem !important;
}

.pt_180 {
    padding-top: 180px;
}

.pt-15 {
    padding-top: 15rem !important;
}

.pt-16 {
    padding-top: 16rem !important;
}

.pb-5_1 {
    padding-bottom: 4rem !important;
}

.pb-5_2 {
    padding-bottom: 5rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pb-7 {
    padding-bottom: 7rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

.pb-9 {
    padding-bottom: 9rem !important;
}

.pb-10 {
    padding-bottom: 10rem !important;
}

.pr-5_1 {
    padding-right: 4rem !important;
}

.pr-5_2 {
    padding-right: 5rem !important;
}

.pr-6 {
    padding-right: 6rem !important;
}

.pr-7 {
    padding-right: 7rem !important;
}

.pr-8 {
    padding-right: 8rem !important;
}

.pr-9 {
    padding-right: 9rem !important;
}

.pr-10 {
    padding-right: 10rem !important;
}

.pl-5_1 {
    padding-left: 4rem !important;
}

.pl-5_2 {
    padding-left: 5rem !important;
}

.pl-6 {
    padding-left: 6rem !important;
}

.pl-7 {
    padding-left: 7rem !important;
}

.pl-8 {
    padding-left: 8rem !important;
}

.pl-9 {
    padding-left: 9rem !important;
}

.pl-10 {
    padding-left: 10rem !important;
}

.py-5_1 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-5_2 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.py-7 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.py-8 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

.py-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
}

.py-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.p-5_1 {
    padding: 4rem;
}

.p-5_2 {
    padding: 5rem;
}

.p-6 {
    padding: 6rem;
}

.h_100 {
    min-height: calc(100vh - 484px);
}

.mobile {
    display: none;
}

.mobile_block {
    display: none;
}


.radius_0 {
    border-radius: 0;
}

.radius_10 {
    border-radius: 10px;
}

.radius_24 {
    border-radius: 24px;
}

.radius_100 {
    border-radius: 100px;
}

.d-content {
    display: contents !important;
}

.ico_user {
    width: 24px;
    height: 24px;
    top: 1px;
    margin-right: 10px;
}

.ico_exit {
    width: 24px;
    height: 24px;
    top: 2px;
    margin-left: 10px;
}

.nav_c.roll {
    background: #fff !important;
    height: 100px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.nav_c {
    position: fixed;
    width: 100%;
    height: 100px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1052;
}

.fixed-top {
    height: 100px;
}

.navbar-nav .nav-link {
    color: #231815;
    font-size: 18px;
}

.nav-link {
    padding: 0;
}

.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link {
    color: #6E9357;
}


.navbar-expand-md .navbar-nav .nav-link {
    padding: 44px 20px;
}


/* actual dropdown animation */
.dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.navbar .nav-item:hover .dropdown-menu {
    max-height: 380px;
    opacity: 1;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}


.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    box-shadow: 0px 5.33333px 32px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: 0;
    padding: 30px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #202124;
}

.dropdown-item {
    padding: 0;
    padding-bottom: 30px;
    font-size: 18px;
}

.dropdown-item:nth-last-child(1) {
    padding-bottom: 0;
}



.ham_myinfo {
    padding: 20px;
    font-size: 16px;
}
.ham_myinfo_right {
    background: #EDF2EA;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 10px;
    float: right;
    height: 30px;
    top: 17px;
    line-height: 14px;
    color: #6E9357;
}



.hamburger-button {
    display: none;
    position: fixed;
    transition: .3s ease-in-out;
    width: 16px;
    height: 14px;
    top: 34px;
    right: 1rem;
    z-index: 1053;
}

.hamburger-button span {
    position: absolute;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    background-color: #4f4f4f;
    top: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
    top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
    top: 5px;
}

.hamburger-button span:nth-child(4) {
    top: 10px;
}

.hamburger-button.active span {
    background-color: #6E9357;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
    opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 80px;
    width: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    /* background: #fff; */
    height: 0;
    opacity: 0;
    z-index: 1032;
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 25%); */
    transition: .3s ease-in-out;
    background: rgba(50, 50, 50, 0.5);
    background-blend-mode: darken;
    overflow-y: scroll;
}

.hamburger_menu {
    width: 100%;
    min-height : 200%;
}


.dt_ham_menu{
    padding: 0 20px;
    background-color: #fff;
    line-height: 62px;
}

.dd_ham_menu {
    background-color: #F7F7F7;
    display: none;
    padding: 24px 30px;
}

.wrap_dt {
    padding: 30px 36px 20px 36px;
    background-color: #FDFDFD;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    font-size: 14px;
}

.dt_ham_menu {
    height: 62px;
    /* display: flex;*/
    line-height: 62px;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(https://ggaribox.s3.ap-northeast-2.amazonaws.com/acc_arrow_down_green.png);
    background-size: 18px;
    background-position-y: 50%;
    background-position-x: calc(100% - 20px);
    border-bottom: 2px solid #F7F7F7;
    cursor: pointer;
}

.dt_ham_menu.on {
    background-image: url(https://ggaribox.s3.ap-northeast-2.amazonaws.com/acc_arrow_up_green.png);
}


.dt_ham_menu:last-of-type {
    border-bottom: 0;

}
.back_no {
    background-image: none;
}
.login_m {
border: 2px solid #6E9357;
border-radius: 100px;
height: 42px;
text-align: center;
line-height: 37px;
font-size: 12px;
}

.h_44 {
    height: 44px;
    background: #F7F7F7;
    border-radius: 10px;
    line-height: 44px;
    margin-top: 10px;
    font-size: 12px;
}
.h_44_2 {
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    font-size: 12px;
}

.dt_ham_menu .col:nth-child(2) {
    width: 100px!important;
}
.icon_sex {
    width: 30px;
    height: 30px;
}

.icon_sex.xx {
    background-image: url('https://ggaribox.s3.ap-northeast-2.amazonaws.com/sex_xx_down.png');
}

.icon_sex.xx.active {
    background-image: url('https://ggaribox.s3.ap-northeast-2.amazonaws.com/sex_xx_up.png') !important;
}

.icon_sex.xy {
    background-image: url('https://ggaribox.s3.ap-northeast-2.amazonaws.com/sex_xy_down.png');
}

.icon_sex.xy.active {
    background-image: url('https://ggaribox.s3.ap-northeast-2.amazonaws.com/sex_xy_up.png') !important;
}

.anime_floating {
    animation-name: floating;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes floating {
    from {
        top : -62px;
    }
    to {
        top : -52px;
    }
}


@media screen and (max-width:576px) {

}



@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.overlay.visible {
    min-height: 100vh;
    opacity: 1;
}


.line_50 {
    line-height: 50.4px;
}

.line_392 {
    line-height: 39.2px;
}

.line_22 {
    line-height: 22px;
}



.footer-bottom {
    bottom: 0;
    background: #FDFDFD;
}

.footer-bottom .logo img {
    max-width: 108px;
}

.footer-bottom a {
    color: #888;
}

.letter0 {
    letter-spacing: 0;
}

/*
.modal-content {
    border: 0;
    border-radius: 24px;
    height: 680px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-backdrop.show {
    opacity: 0
}*/

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: inherit;
}

ul,
li {
    list-style: none;
}

.select_label-placeholder {
    height: 54px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: .6;*/
    color: rgba(110, 147, 87, 0.5);
    background-color: transparent;
    font-weight: 400;
}


.border_0 {
    border: 0;
}


.btn_txt {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    max-height: 32px;
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 10px;
    font-size: 15px;
    letter-spacing: -0.08em;
}


.pop_w_border {
    border: #6E9357 2.5px solid;
}

/*筌ｋ똾寃� �뚣끉�わ옙占� */
.check_custom input[type=checkbox] {
    display: none;
}

.check_custom input[type=checkbox]+label {
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(https://ggaribox.s3.ap-northeast-2.amazonaws.com/checkbox.png);
    background-size: 20px;
    background-position-y: 2px;
    padding-left: 30px;
}

.check_custom input[type=checkbox]:checked+label {
    background-image: url(https://ggaribox.s3.ap-northeast-2.amazonaws.com/checker-on_2.png);
}

/*占쎌눖逾믭옙占� �뚣끉�わ옙占�*/
.radio_custom input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.radio_custom input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    border: 2px solid #DBDADA;
    border-radius: 100%;
}

.radio_custom input[type="radio"]:checked+label:before {
    background: #fff;
    border: 2px solid #6E9357;
}

.radio_custom input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #6E9357;
    border: 2px solid #6E9357;
    border-radius: 100%;
}

input[type="radio"] {
    display: none;
}

input:focus {
    outline: 0;
}

input:-internal-autofill-selected {
    background-color: none;
}

.form-control::placeholder {
    letter-spacing: -0.02em;
    color: #BEBCBB;
}

.point_scroll::-webkit-scrollbar {
    width: 18px;
}

.point_scroll::-webkit-scrollbar-thumb {
    background: #6E9357;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 30px;
}

.pc_br_none br {
    display: none !important;
}


.btn-outline-success {
    background: #FFFFFF;
    border: 2px solid #6E9357;
    border-radius: 50px;
    color: #6E9357;
    padding: 14px 22px;
}

.btn-outline-success:hover {
    background: #FFFFFF;
    color: #6E9357;
    border: 2px solid #6E9357;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
    background: #FFFFFF;
    color: #6E9357;
    border: 2px solid #6E9357;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 0%);
}

.btn-secondary {
    background: #D1D0D0;
    border-radius: 50px;
    padding: 14px 22px;
    border-color: #D1D0D0;
}


.btn-success {
    background: #6E9357;
    border: 2px solid #6E9357;
    border-radius: 50px;
    padding: 14px 22px;
}

.btn-success:hover {
    background: #6E9357;
    border: 2px solid #6E9357;
}

/* @media screen and (max-width:768px) { */
@media screen and (max-width:568px) {
    .h_100 {
        min-height: calc(100vh - 464px);
    }

    .pc_br_none br {
        display: block !important;
    }

    body {
        font-size: 12px;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;   
    }
    
    .mobile_br_none br {
        display: none !important;
    }


    .nav_c.roll {
        height: 80px;
    }

    .brand {
        padding: 0.5rem !important;
    }

    .navbar-nav {
        display: none;
    }
    .hamburger-button {
        display: block;
    }
    .fixed-top {
        height: 80px;
    }


    .fp-overflow {
        overflow-y: visible;
    }


    .order_last {
        order: 2;
    }

    .order_1 {
        order: 1;
    }

    .mobile {
        display: inline-block;
    }

    .mobile_block {
        display: block;
    }

    .pc {
        display: none;
    }

    .fs_40 {
        font-size: 30px;
    }

    .fs_36 {
        font-size: 26px;
    }

    .fs_32 {
        font-size: 24px;
    }

    .fs_28 {
        font-size: 20px;
    }

    .fs_24 {
        font-size: 18px;
    }

    .fs_22 {
        font-size: 16px;
    }

    .fs_20 {
        font-size: 14px;
    }

    .fs_18 {
        font-size: 14px;
    }

    .fs_16 {
        font-size: 12px;
    }

    .fs_14 {
        font-size: 10px;
    }

    .fs_12 {
        font-size: 9px;
    }

    .fs_10 {
        font-size: 9px;
    }

    .line_50 {
        line-height: 39.2px;
    }

    .radio_custom input[type="radio"]+label:before {
        width: 16px;
        height: 16px;
    }

    .radio_custom input[type="radio"]:checked+label:after {
        top: 6px;
        left: 4px;
        width: 8px;
        height: 8px;
    }

    .radio_custom input[type="radio"]+label {
        padding-left: 23px;
    }

    .check_custom input[type=checkbox]+label {
        background-size: 18px;
        background-position-y: 0px;
        padding-left: 26px;
    }

}