.btn1 {
    background-color: #6E9357 !important;
}

.btn2 {
    background-color: #6E9357 !important;
}

.btn3 {
    background-color: #6E9357 !important;
}

.btn4 {
    background-color: #6E9357 !important;
}

.btn5 {
    background-color: #6E9357 !important;
}

.btn6 {
    background-color: #6E9357 !important;
}

.btn7 {
    /* background-color: #6E9357 !important; */
}

.btn8 {
    
}

.btn9 {
    background-color: #6E9357 !important;
}

.sch_btn{
    background-color: #6E9357 !important;
}

.add_file .fl1[type=file]{    
    height:30px !important; 
}