.top_marginer{
    margin-top : 100px;
}

.mw_360 {
    max-width: 398px;
    margin: 0 auto;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #DBDADA;
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 16px;
    height: 50px;
}

.form-control::placeholder {
    color: #BEBCBB;
}

.shadow1 img {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 100px;
}



.mt_28px {
    margin-top: 28px;
}

.mt_40px {
    margin-top: 40px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    font-size: 16px;
    margin: 18px 0px 30px 0;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: #DBDADA;
    height: 2px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px;
}

.id_box {
    height: 60px;
    background: #EDF2EA;
    border-radius: 50px;
    line-height: 58px;
}

@media screen and (max-width:576px) {
    .top_marginer{
        margin-top : 80px;
    }

    .gray_box1 {
        background: #F7F7F7;
        border-radius: 10px;
        padding: 30px 10px;
    }

    .mw_360 {
        max-width: 318px;
        margin: 0 auto;
    }

    .fs_28 {
        font-size: 18px;
    }

    .fs_16 {
        font-size: 14px;
    }

    .fs_12 {
        font-size: 12px;
    }

    .hr-sect {
        font-size: 12px;
        margin: 20px 0px 20px 0;
    }

    .pt_30px {
        padding-top: 20px;
    }

    .log .pt_20px {
        padding-top: 10px;
    }

    .h_100 {
        height: 130vh !important;
    }

    .form-control {
        font-size: 12px;
        font-weight: 400;
        height: 44px;
        padding: 14px 10px;
    }
    
    .fs_14.sub_gray_text{
        font-size: 12px;
    }
    .fs_14{
        font-size: 14px;
    }


} 